[/]
apply-flatpak=false
apply-gtk=false
autofg-menu=true
bartype='Islands'
bcolor=['1.000', '0.639', '0.282']
bg-change=false
bgalpha=0.0
bgalpha-wmax=0.28999999999999998
bgcolor2=['0', '0.7', '0.75']
bguri='file:///home/shivoham/.config/background'
border-wmax=true
bottom-margin=0.0
buttonbg-wmax=true
bwidth=1.3999999999999999
candy2=['0.000', '0.000', '0.000']
candybar=false
card-hint=10
count8=0
count9=0
cust-margin-wmax=false
dark-bcolor=['1.000', '0.639', '0.282']
dark-bgcolor2=['0', '0.7', '0.75']
dark-bguri='file:///home/shivoham/.config/background'
dark-candy1=['0', '0.61', '0.74']
dark-candy2=['0.000', '0.000', '0.000']
dark-hcolor=['1.000', '0.745', '0.435']
dark-mbgcolor=['0.125', '0.125', '0.125']
dark-palette1=['100', '100', '100']
dark-palette2=['100', '100', '100']
dark-palette3=['100', '100', '100']
dark-palette4=['100', '100', '100']
dark-palette5=['100', '100', '100']
dark-palette6=['100', '100', '100']
dbradius=100.0
default-font='Sans 12'
dshadow=true
fgalpha=1.0
halpha=0.5
hcolor=['1.000', '0.745', '0.435']
headerbar-hint=0
height=27.0
hpad=0.0
import-export=true
light-bguri='file:///home/shivoham/.config/background'
light-boxcolor=['0.125', '0.125', '0.125']
light-dbgcolor=['0.125', '0.125', '0.125']
light-hcolor=['0', '0.7', '0.9']
light-hscd-color=['0', '0.7', '0.75']
light-iscolor=['0.125', '0.125', '0.125']
light-mbcolor=['1.0', '1.0', '1.0']
margin=0.0
margin-wmax=0.0
mbg-gradient=false
menu-radius=21.0
monitor-height=768
monitor-width=1366
neon=true
neon-wmax=true
palette4=['100', '100', '100']
palette5=['100', '100', '100']
palette6=['100', '100', '100']
palette7=['100', '100', '100']
palette8=['100', '100', '100']
palette9=['100', '100', '100']
pause-reload=false
radius-bottomright=true
reloadstyle=false
removestyle=false
smbgoverride=false
trigger-reload=true
vpad=1.6000000000000001
vw-color=['0', '0.7', '0.75']
width-top=true
winbradius=15.0
wmax-hbarhint=false
wmaxbar=true
