31.118s fstrim.service
13.453s NetworkManager-wait-online.service
 4.370s plymouth-quit-wait.service
 3.802s upower.service
 3.429s sssd.service
 2.334s systemd-udev-settle.service
 2.212s vmware.service
 2.058s lvm2-monitor.service
 1.630s systemd-journal-flush.service
 1.099s firewalld.service
 1.095s plymouth-switch-root.service
 1.002s udisks2.service
  998ms initrd-switch-root.service
  981ms abrtd.service
  725ms systemd-udevd.service
  658ms packagekit.service
  419ms systemd-tmpfiles-setup-dev.service
  412ms dracut-initqueue.service
  396ms polkit.service
  387ms user@1000.service
  369ms dnf-makecache.service
  345ms systemd-sysctl.service
  343ms cups.service
  329ms accounts-daemon.service
  310ms unbound-anchor.service
  297ms systemd-resolved.service
  297ms systemd-random-seed.service
  221ms NetworkManager.service
  218ms systemd-udev-trigger.service
  196ms smartd.service
  194ms vmware-USBArbitrator.service
  162ms sssd-kcm.service
  143ms bluetooth.service
  140ms auditd.service
  136ms initrd-parse-etc.service
  126ms gssproxy.service
  121ms ModemManager.service
  110ms avahi-daemon.service
  101ms systemd-tmpfiles-clean.service
   96ms rtkit-daemon.service
   95ms switcheroo-control.service
   91ms systemd-oomd.service
   86ms wpa_supplicant.service
   85ms systemd-tmpfiles-setup.service
   79ms var-lib-nfs-rpc_pipefs.mount
   79ms thermald.service
   77ms systemd-homed.service
   75ms livesys.service
   75ms systemd-vconsole-setup.service
   70ms chronyd.service
   63ms systemd-rfkill.service
   61ms dracut-cmdline.service
   60ms systemd-logind.service
   56ms systemd-fsck@dev-disk-by\x2duuid-5341\x2dBB30.service
   56ms dbus-broker.service
   54ms systemd-fsck@dev-disk-by\x2duuid-343b8ac0\x2d3e92\x2d4609\x2d8094\x2ddfd7e193ea76.service
   46ms systemd-journald.service
   45ms colord.service
   44ms flatpak-system-helper.service
   43ms dracut-pre-pivot.service
   39ms import-state.service
   36ms systemd-zram-setup@zram0.service
   29ms dev-hugepages.mount
   29ms dev-mqueue.mount
   28ms systemd-userdbd.service
   27ms sys-kernel-debug.mount
   27ms uresourced.service
   26ms sys-kernel-tracing.mount
   25ms kmod-static-nodes.service
   24ms dracut-pre-udev.service
   23ms systemd-backlight@backlight:intel_backlight.service
   23ms boot.mount
   22ms boot-efi.mount
   22ms user-runtime-dir@1000.service
   21ms systemd-backlight@leds:dell::kbd_backlight.service
   21ms gdm.service
   21ms systemd-modules-load.service
   20ms systemd-fsck-root.service
   19ms nfs-convert.service
   19ms systemd-remount-fs.service
   18ms initrd-cleanup.service
   18ms plymouth-read-write.service
   17ms plymouth-start.service
   15ms dev-zram0.swap
   11ms systemd-user-sessions.service
   11ms systemd-update-utmp.service
    9ms systemd-update-utmp-runlevel.service
    9ms rpc-statd-notify.service
    8ms livesys-late.service
    7ms home.mount
    7ms initrd-udevadm-cleanup-db.service
    6ms tmp.mount
    6ms sys-fs-fuse-connections.mount
    6ms modprobe@configfs.service
    5ms modprobe@drm.service
    5ms dracut-shutdown.service
    4ms docker.socket
    4ms sys-kernel-config.mount
    4ms modprobe@fuse.service
   51us systemd-homed-activate.service
